.Header {
    border: 2px solid grey;
    border-radius: 5px;
}

.Header-title {
    display: flex;
    justify-content: space-between;
}

.Header-title-text {
    padding: 10px;
}

/* .Header-button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
} */