.task-false {
  border: 1px solid white;
  position: relative;
  text-align: left;
  background: #000000;
  border-radius: 5px;
  padding-left: 20px;
  box-shadow: 5px 5px 10px 1px #000;
  color: white;
}

.task-true {
  color: white;
  border: 1px solid white;
  position: relative;
  text-align: left;
  background: #000000;
  border-radius: 5px;
  padding-left: 20px;
  box-shadow: 5px 5px 10px 1px #000;
  background: linear-gradient(90deg, #3faff4 2%, #000 2%);
}

.task-description {
  display: flex;
  justify-content: space-between;
}

.task-reminder {
  width: 5px;
  background: #8FF97E;
}