.task-false {
  border: 1px solid white;
  position: relative;
  text-align: left;
  background: #F2F9E5;
  border-radius: 5px;
  padding-left: 20px;
  box-shadow: 5px 5px 10px 1px #000;
}

.task-true {
  border: 1px solid white;
  position: relative;
  text-align: left;
  background: #F2F9E5;
  border-radius: 5px;
  padding-left: 20px;
  box-shadow: 5px 5px 10px 1px #000;
  background: linear-gradient(90deg, #24DCA7 2%, #F2F9E5 2%);
}

.task-description {
  display: flex;
  justify-content: space-between;
}

.task-reminder {
  width: 5px;
  background: #8FF97E;
}